@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  scroll-behavior: smooth;
  color: #1d1d1d;
  margin: 0;
  padding: 0;
  font-family: Poppins, sans-serif;
}

.main-header {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.header-headline {
  margin: auto;
  margin-left: 10px;
  font-size: 1.3em;
  font-weight: 300;
}

.navbar {
  margin: auto;
  margin-right: 20px;
}

.navbar-link {
  color: #1d1d1d;
  text-decoration: none;
  font-size: 0.75em;
  font-weight: 300px;
  margin-right: 5px;
  border-bottom: 1px solid #1d1d1d;
  transition: 0.1s;
}

.navbar-links:hover {
  color: #fde182;
  border-bottom: none;
}

.intro-image {
  width: 100%;
  opacity: 0.8;
}

.intro-text {
  font-size: 0.95em;
  margin: 25px 30px 0 15px;
  padding-left: 10px;
  border-left: 1px solid #1d1d1d;
}

.skills {
  margin: 60px 30px 60px 20px;
}

.skill-headline {
  font-weight: 500;
  margin: 0 0 15px 0;
}

.skill-tag {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.skill-tag:nth-of-type(1) {
  margin-bottom: 30px;
}

.skill-tag > li {
  background-color: #fde182;
  font-size: 0.8em;
  font-weight: 500;
  margin: 0 10px 10px 0;
  padding: 5px 10px;
  box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, 0.2);
}

.contact {
  margin: 0 0 60px 0px;
  padding: 30px 0px 30px 20px;
  border-bottom: 2px dotted #1d1d1d;
  border-top: 2px dotted #1d1d1d;
}

.contact-headline {
  margin: 0 0 20px 0;
  font-weight: 500;
}

.contact-type {
  margin: 20px 0 10px 0;
  font-weight: 500;
}

.contact-link {
  color: #1d1d1d;
}

.social {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 0 20px 0 20px;
}

.social-headline {
  grid-column: 1 / 3;
  justify-self: center;
  margin: 0 0 20px 0;
  font-weight: 500;
}

.social-card {
  display: block;
  background-color: #1d1d1d;
  opacity: 0.3;
  justify-self: center;
  text-align: center;
  text-decoration: none;
  width: 150px;
  height: 150px;
  border-radius: 20px;
  padding: 20px 0 0 0;
  margin-bottom: 20px;
  box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, 0.5);
}

.social-logo {
  max-width: 50%;
}

.social-name {
  font-size: 1.2em;
  color: white;
  font-weight: 500;
  margin: 0;
}

.bio {
  margin: 60px 30px 80px 20px;
}

.bio > h2 {
  font-weight: 500;
  margin: 0 0 20px 0;
}

.bio > p {
  margin: 0 0 20px 0;
  font-size: 0.95em;
}

.curriculum {
  margin: 60px 30px 60px 20px;
}

.curriculum > h2 {
  font-weight: 500;
  margin: 0 0 20px 0;
}

.curriculum > h4 {
  font-weight: 300;
  margin: 0;
  border-left: 1px solid #1d1d1d;
  padding-left: 5px;
  padding-bottom: 10px;
}

.cv_company {
  font-size: 0.95em;
  margin: 0;
  border-left: 1px solid #1d1d1d;
  padding-left: 5px;
}

.cv_description {
  font-size: 0.7em;
  font-weight: 700;
  font-style: italic;
  margin: 0 0 20px 0;
  border-left: 1px solid #1d1d1d;
  padding-left: 5px;
}

footer {
  height: 55px;
  display: flex;
  box-shadow: 4px 4px 10px #1d1d1d;
}

footer > h5 {
  margin: auto;
  margin-left: 10px;
  font-size: 1.3em;
  font-weight: 300;
}

@media only screen and (min-width: 768px) {
  .grid-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .intro {
    grid-column: 1 / 3;
    grid-row: 1/ 2;
  }

  .intro-text {
    width: 65%;
    margin-left: 20px;
  }

  .skills {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    margin: 60px 0 0 30px;
  }

  .contact {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    justify-self: right;
    border: none;
    margin: 60px 50px 0 0;
    padding: 10px 20px 0 20px;
    border: 2px dotted #1d1d1d;
  }

  .contact-headline {
    font-size: 1.1em;
    margin: 0 0 10px 0;
  }

  .contact-type {
    margin: 0 0 5px 0;
    font-size: 0.9em;
  }

  .contact-link {
    display: block;
    font-size: 0.9em;
    margin: 0 0 15px 0;
  }

  .social {
    grid-column: 1 / 3;
    grid-row: 3 / 4;
    margin: 60px 30px 0 30px;
    grid-template-rows: 2;
    grid-template-columns: repeat(4, 1fr);
  }

  .social-headline {
    grid-column: 1 / 5;
    margin-bottom: 40px;
    justify-self: left;
  }

  .bio {
    margin: 60px 0 40px 30px;
  }

  .curriculum {
    justify-self: right;
    margin: 60px 30px 40px 0;
  }
}

@media only screen and (min-width: 992px) {
  .main-header {
    box-shadow: -4px -4px 10px #1d1d1d;
  }

  .intro {
    display: flex;
    align-items: center;
    margin-top: 20px;
  }

  .intro-image {
    margin-left: 30px;
    min-width: 0;
  }

  .intro-text {
    margin: 0 30px 0 30px;
    padding: 5px 0 5px 10px;
    width: 75%;
  }

  .contact {
    margin: 60px 12% 0 0;
    width: 60%;
    justify-self: right;
    text-align: center;
  }

  .social-card {
    width: 200px;
    height: 160px;
  }

  .curriculum {
    justify-self: center;
    margin: 60px 0 40px 0;
  }
}

@media only screen and (min-width: 1200px) {
  h2 {
    font-size: 1.7em;
  }

  .header-headline,
  footer > h5 {
    font-size: 1.5em;
    margin-left: 20px;
  }

  .navbar-links {
    font-size: 0.9em;
    margin-left: 10px;
  }

  .intro {
    grid-column: 1 / 2;
    flex-wrap: wrap;
    margin-top: 30px;
  }

  .intro-text {
    width: 100%;
    margin-top: 25px;
    font-size: 1.1em;
    margin-left: 35px;
  }

  .skills {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    margin: auto;
  }

  .skill-tag > li {
    font-size: 1em;
    margin-right: 20px;
  }

  .contact {
    grid-column: 1 / 3;
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 100px 0 0 0;
    padding: 0;
    border: none;
    box-shadow: -5px -5px 6px rgba(29, 29, 29, 0.1);
  }

  .contact-header {
    display: none;
  }

  .contact-type {
    font-size: 1.3em;
    margin: 50px 0 0 0;
  }

  .contact-link {
    font-weight: 300;
    font-size: 1.1em;
    margin: 50px 50px 0 30px;
    transition: 0.1s;
  }

  .contact > a:hover {
    color: #fde182;
    cursor: pointer;
    border-bottom: none;
  }

  .social {
    margin: 50px 0 0 0;
    padding: 0 180px 0 180px;
    width: 100%;
    box-shadow: 5px 5px 6px rgba(29, 29, 29, 0.1);
  }

  .social-header {
    font-size: 1.3em;
    justify-self: center;
  }

  .social-card {
    margin-bottom: 50px;
    width: 200px;
    height: max-content;
    transition: 0.3s;
  }

  .social-card:hover {
    scale: 1.1;
    opacity: 0.8;
    box-shadow: 10px 10px 8px 0 rgba(0, 0, 0, 0.7);
  }

  .bio,
  .curriculum {
    margin-top: 100px;
    margin-bottom: 60px;
  }

  .bio > p {
    font-size: 1em;
  }
  .curriculum > h4 {
    font-size: 1.2em;
  }

  .cv_company {
    font-size: 1.1em;
  }

  .cv_description {
    font-size: 0.8em;
  }
}
